<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Welcome to SRH's comeback page</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #ff7a2d; /* Change this to any color you like */
            height: 100vh; /* Make sure the background color covers the full height of the viewport */
        }
    </style>
</head>
<body>
    <h1>Welcome to My Web Page</h1>
    <p>India vs Pakistan.</p>
</body>
</html>
